/*Default*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    display: flex;
}

/*Cabecera #754e17*/
header {
    background-color: silver;
    height: auto;
}

.cabecera {
    display: inline-block;
}

header figure {
    margin: 1.5px;
}

nav {
    flex-grow: 1;
    align-items: center;
}

.cabecera ul {
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.cabecera li {
    padding: 8px;
    border-radius: 5px;
    background-color: white;
}

.cabecera a {
    text-decoration: none;
    color: black;
}

/*Side*/
main > * {
    display: flex;
}

.sidebar {
    background-color: dimgray;
    min-width: 78px;
    display: flex;
    flex-direction: column;
}

.sidebar figure {
    padding: 10px;
}

.sidebar p {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

/*main-content*/
.content {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.content p {
    font-size: 1.2rem;
}

/*footer*/
footer {
    background-color: silver;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}

footer p {
    text-align: center;
    color: grey;
}
